version: "3.7"

services:
  web:
    build: ./php-web-server
    ports:
      - "8080:80"
    networks:
      - my-network
    depends_on:
      - db

  db:
    build: ./mysql
    environment:
      MYSQL_ROOT_PASSWORD: india@123
      MYSQL_DATABASE: testdb
    volumes:
      - mysql-data:/var/lib/sql
      - ./mysql:/docker-entrypoint-initdb.d
    networks:
      - my-network

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"
    networks:
      - my-network

networks:
  my-network:

volumes:
  mysql-data:

